.hero {
	background-color: var(--pink);
	padding: 120px 0;
	@include media(s) {
		padding: 40px 0;
	}
	.container {
		.rounded-block {
			text-align: center;
			margin-bottom: 80px;
			img {
				max-width: 100%;
				height: auto;
			}
			@include media(s) {
				margin-bottom: 40px;
			}
		}
		.splited-block {
			margin-bottom: 200px;
			@include media(s) {
				margin-bottom: 40px;
			}
			h1 {
				display: flex;
				justify-content: space-between;

				padding-left: 32px;
				position: relative;
				@include hero;
				font-size: 94px;
				font-weight: 250;
				line-height: 80%;
				@include media(s) {
					flex-wrap: wrap;
					padding-left: 0;
				}
				.iago {
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 533px;
					height: 431px;
					top: -140px;
					@include media(s) {
						position: unset;
						order: 2;
						height: 100%;
						width: 100%;
					}
				}
				b {
					font-weight: 800;
				}
				span {
					display: block;
					@include media(s) {
						br {
							display: none;
						}
					}
				}
			}
		}
		.hero_subtitle {
			@include sub-title;
			line-height: 150%;
			max-width: 850px;
			margin: 0 auto;
			color: var(--neutro-50);
			text-align: center;
			margin-bottom: 40px;
		}
		.button--container {
			text-align: center;
		}
	}
}
.benefits {
	padding: 120px 0;
	overflow: hidden;
	background-color: var(--neutro-50);
	@include media(s) {
		padding: 40px 0;
	}
	.container {
		padding: 0;
	}
	.d-title {
		@include general-title;
		text-align: center;
		b {
			font-weight: 600;
		}
		margin-bottom: 40px;
		@include media(s) {
			padding: 0 24px;
			text-align: left;
			br {
				display: none;
			}
			margin-bottom: 24px;
		}
	}
	.d-sub {
		@include sub-title;
		text-align: center;
		font-weight: 300;
		line-height: 150%;
		max-width: 880px;
		margin: 0 auto;
		b {
			font-weight: 600;
		}
		@include media(s) {
			text-align: left;
			padding: 0 24px;
		}
	}
	.content {
		display: flex;
		gap: 56px;
		margin: 56px auto;
		max-width: 100%;
		padding-left: 120px;
		@include media(s) {
			padding: 0 24px;
			overflow: auto;
			gap: 24px;
		}
	}
	.card {
		border: none;
		flex-shrink: 0;
		display: block;
		border-bottom: 2px solid var(--black-a);
		max-width: 362px;
		border-radius: 0;
		padding-bottom: 48px;
		@include media(s) {
			max-width: 300px;
		}
		&-icon {
			background-color: var(--pink);
			display: inline-block;
			padding: 24px;
			border-radius: 28px;
			@include media(s) {
				padding: 12px;
			}
		}
		&-title {
			@include sub-title;
			font-weight: 600;
			margin: 40px 0 24px;
			color: var(--black-a);
			@include media(s) {
				font-size: 24px;
			}
		}
		&-desc {
			@include text;
			color: var(--black-a);
		}
	}
	.button--container {
		text-align: center;
	}
}

.integration {
	background-color: var(--neutro-50);

	padding-bottom: 120px;
	@include media(s) {
		padding-bottom: 40px;
	}
	.container {
		position: relative;
		overflow: hidden;
		@include media(s) {
			padding: 0;
		}
		.arm,
		.iago-solo {
			position: absolute;
			bottom: -100px;
			@include media(s) {
				display: none;
			}
		}

		.arm {
			left: -88px;
			transform: scale(1.15);
			@media (min-width: 1600px) {
				transform: scale(1);
				left: 0px;
			}
		}
		.iago-solo {
			right: 173px;
			bottom: unset;
			top: 238px;
			@media (min-width: 1600px) {
				right: 132px;
			}
		}
	}
	.pink-block {
		background-color: var(--pink);
		border-radius: 28px;
		padding: 72px 72px 200px 72px;
		text-align: center;
		color: var(--neutro-50);
		margin-bottom: 120px;
		position: relative;

		@include media(s) {
			padding: 24px 24px 100px 24px;
			margin-bottom: 60px;
		}
		.d-title {
			margin-bottom: 40px;
			@include media(s) {
				font-size: 24px;
				margin-bottom: 20px;
			}
		}
		.d-text {
			max-width: 900px;
			font-size: 24px;
			margin: 0 auto;
			@include media(s) {
				font-size: 14px;
				line-height: 16px;
			}
		}
		.floating-iago {
			position: absolute;
			left: 0;
			bottom: -100px;
			display: none;
			@include media(s) {
				display: block;
				bottom: -22px;
			}
		}
	}
	.products {
		text-align: center;

		.d-title {
			@include media(s) {
				font-size: 23px;
				text-align: left;
				br {
					display: none;
				}
				padding-left: 24px;
			}
		}
		.d-text {
			font-size: 24px;
			margin: 40px 0 56px;
			@include media(s) {
				font-size: 14px;
				padding-left: 24px;
				line-height: 16px;
				text-align: left;
				margin: 20px 0 28px;
			}
		}
		.button--container {
			@include media(s) {
				text-align: left;
				padding: 0 24px;
			}
		}
		&-holder {
			display: flex;
			justify-content: center;
			gap: 40px;
			overflow: auto;
			margin-bottom: 56px;
			@include media(s) {
				justify-content: start;
				margin-bottom: 28px;
				padding-left: 24px;
			}
			.product-card {
				padding: 24px;
				background-color: var(--card-products);
				border-radius: 28px;
				flex-shrink: 0;
				@include media(s) {
					padding: 12px;
					img {
						max-width: 80%;
					}
				}
			}
		}
	}
}

.testimonials {
	overflow: hidden;
	background: linear-gradient(191deg, rgba(10, 10, 10, 0.9) 14%, rgba(10, 10, 10, 0.9) 70%), url("../assets/bg-dep.png?as=webp");
	background-size: 100% 100%;
	color: var(--neutro-50);
	padding: 120px 0;
	text-align: center;
	@include media(s) {
		padding: 40px 0;
	}
	.d-title {
		@include media(s) {
			text-align: left;
			font-size: 24px;
		}
	}

	.d-text {
		margin: 48px auto 56px;
		max-width: 1034px;
		font-size: 24px;
		@include media(s) {
			font-size: 16px;
			line-height: 18px;
			text-align: left;
			margin: 20px 0 120px;
		}
	}
	.holder {
		position: relative;
		.button-holder {
			position: absolute;
			bottom: 90px;
			max-width: 90%;
			margin: 0 auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			right: 0;
			padding-right: 120px;
			@include media(s) {
				padding: 0 24px;
				bottom: 200px;
				max-width: 40%;
			}
		}
		button {
			padding: 0;
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			overflow: hidden;
			text-decoration: none;
			background: var(--black-a);
			border: 1px solid var(--neutro-50);
			transition: all 0.3s ease;
			&:hover {
				border-color: var(--black-a);
			}
			&.slick-disabled {
				opacity: 0;
			}
		}
		.button__wrapper {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 75px;
			height: 75px;
			background: #0a0a0a;
			@include media(s) {
				width: 40px;
				height: 40px;
			}
		}

		button:hover i {
			color: var(--black-a);
		}

		i {
			position: relative;
			z-index: 2;
			font-family: sans-serif;
			font-weight: 700;
			font-size: 18px;
			color: var(--neutro-50);
			transition: 300ms ease;
			font-size: 32px;
			@include media(s) {
				font-size: 16px;
			}
		}

		.button__spotlight {
			position: absolute;
			z-index: 1;
			height: 10px;
			width: 10px;
			opacity: 1;
			border-radius: 50%;
			background: var(--pink);
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
	.slider {
		@include media(s) {
			padding: 0 24px;
		}
		.slide {
			background-color: var(--neutro-50);
			padding: 40px;
			border-radius: 28px;
			margin: 0 12px;
			margin-left: 100px;
			color: var(--black-a);
			opacity: 0.4;
			@include media(s) {
				padding: 24px;
				margin-left: 0;
			}
			&.slick-active {
				opacity: 1;
			}
			.d-text {
				@include text;
				text-align: left;
				font-weight: 300;
				margin-bottom: 48px;
			}
			.infos {
				display: flex;
				align-items: center;
				gap: 32px;
				.slide-img {
					max-width: 87px;
					height: 87px;
					@include media(s) {
						max-width: 40px;
						height: 40px;
					}
					img {
						max-width: 100%;
						height: auto;
						border-radius: 28px;
					}
				}
				.name,
				.company {
					@include text;
					text-transform: capitalize;
					text-align: left;
				}
				.name {
					font-weight: 700;
					line-height: 24px;
				}
			}
		}
		.slick-list {
			margin: 0 -12px;
			padding: 0 20% 0 10% !important;
			@include media(s) {
				padding: 0 !important;
			}
		}
	}
}

.demo {
	padding: 120px 0;
	position: relative;
	background-color: var(--neutro-50);
	z-index: 3;
	overflow: hidden;
	@include media(s) {
		padding: 40px 0;
	}
	.column {
		max-width: 513px;
	}
	.d-title {
		@include media(s) {
			margin-bottom: 240px;
		}
	}
	.d-text {
		margin: 40px 0 56px;
		max-width: 513px;
		font-size: 24px;
	}
	.demo-img {
		position: absolute;
		right: 0;
		top: 60px;
		@include media(s) {
			top: 130px;
		}
	}
}
